<?xml version="1.0"?>
<config>
  <modules>
    <Gemfind_LocalSynchronization>
      <version>0.1.1</version>
    </Gemfind_LocalSynchronization>
  </modules>
  <global>
    <helpers>
      <localsynchronization>
        <class>Gemfind_LocalSynchronization_Helper</class>
      </localsynchronization>       
        <synchronization>
			<rewrite>
				<customization>Gemfind_LocalSynchronization_Helper_Synchronization_Customization</customization>
            </rewrite>
        </synchronization>
    </helpers>
	<blocks>
	  <localsynchronization>
		<class>Gemfind_LocalSynchronization_Block</class>
	  </localsynchronization>
			<synchronization>
				<rewrite>
					<synchronization>Gemfind_LocalSynchronization_Block_Synchronization_Synchronization</synchronization>
				</rewrite>
			</synchronization>
	</blocks>
	<models>
	  <localsynchronization>
		<class>Gemfind_LocalSynchronization_Model</class>
		<resourceModel>localsynchronization_mysql4</resourceModel>
	  </localsynchronization>
			<synchronization>
				<rewrite>
					<synchronization>Gemfind_LocalSynchronization_Model_Synchronization_Synchronization</synchronization>
				</rewrite>
			</synchronization>
			<synchronization>
				<rewrite>
					<category>Gemfind_LocalSynchronization_Model_Synchronization_Category</category>
				</rewrite>
			</synchronization>
			<synchronization>
				<rewrite>
					<product>Gemfind_LocalSynchronization_Model_Synchronization_Product</product>
				</rewrite>
			</synchronization>
			<synchronization>
				<rewrite>
					<reindex>Gemfind_LocalSynchronization_Model_Synchronization_Reindex</reindex>
				</rewrite>
			</synchronization>
	</models>
  </global>
</config> 