<?xml version="1.0"?>
<config>
	<modules>                
		<Gemfind_Synchronization>                        
			<version>0.1.0</version>                
		</Gemfind_Synchronization>        
	</modules>    
	<global>        
		<blocks>
            <synchronization>
                <class>Gemfind_Synchronization_Block</class>
            </synchronization>
        </blocks>
        <helpers>
            <synchronization>
                <class>Gemfind_Synchronization_Helper</class>
            </synchronization>
        </helpers>
		<models>
            <synchronization>
                <class>Gemfind_Synchronization_Model</class>
                <resourceModel>synchronization_Resource</resourceModel>
            </synchronization>
            <synchronization_Resource>
				<class>Gemfind_Synchronization_Model_Resource</class>				
			</synchronization_Resource>  
			<catalog>
				<rewrite>
					<url>Gemfind_Synchronization_Model_UrlRewrite</url>
				</rewrite>
			</catalog>
        </models>
        <resources>
            <synchronization_setup>
                <setup>
                    <module>Gemfind_Synchronization</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </synchronization_setup>
            <synchronization_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </synchronization_write>
            <synchronization_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </synchronization_read>
        </resources>			
	</global> 
	<frontend>
		<routers>
            <synchronization>
                <use>standard</use>
                <args>
                    <module>Gemfind_Synchronization</module>
                    <frontName>synchronization</frontName>
                </args>
            </synchronization>
        </routers>  
    </frontend>
	<default>
        <synchronization>
        	<basic><enable>1</enable></basic>
			<basic><data_sync>100</data_sync></basic>
            <csv_path>
            	<path>gemfind/pending</path>
				<imported>gemfind/imported</imported>
            </csv_path>
			<category>
	            <default_parent>2</default_parent>
	            <default_level>2</default_level>
	            <category_status>0</category_status>
	            <include_in_menu>0</include_in_menu>
	            <sort_by>position</sort_by>
	            <page_layout></page_layout>
	            <is_anchor>1</is_anchor>
				<cat_prod_no_del></cat_prod_no_del>
            </category>
            <product>
	            <media>gemfind</media>
				<attribute_set_id>9</attribute_set_id>
				<del_old_sync>1</del_old_sync>
				<csv_sku_prefix></csv_sku_prefix>
				<sku_prefix></sku_prefix>
				<tax_class_id>2</tax_class_id>
				<default_weight>0.5</default_weight>
				<default_qty>50</default_qty>
				<google_checkout>1</google_checkout>
				<visible_simple_config_frontend>0</visible_simple_config_frontend>
				<import_product_with_images>0</import_product_with_images>
				<prod_no_update></prod_no_update>
            </product>
            <customization>
	            <enable>0</enable>
            </customization>
			<lock>
	            <enable>0</enable>
            </lock>
			<profiler><enable>0</enable></profiler>
			<!--<shell_indexer><path></path></shell_indexer>-->
			<gemfind_sync_log>
	        	<active>1</active>
	        	<path>gemfind/sync_log</path>
				<sync_file>synchronization.xml</sync_file>
				<abort_file>process_abort.xml</abort_file>
	        </gemfind_sync_log>    
        </synchronization>
    </default>
    <!--<crontab>
        <jobs>
            <gemfind_synchroniation_process>
                <schedule>
                    <cron_expr>*/15 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>synchronization/observer::runGemFindSync</model>
                </run>
            </gemfind_synchroniation_process>
        </jobs>
    </crontab>-->
</config>